{% extends 'core/base.html' %}
{% load static %}
{% block graphs %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="myFile"
                   class="custom-file-label btn btn-sm btn-outline-secondary"
                   style="background-color: #c9ddc4">
                Upload file
                <input type="file"
                       id="myFile"
                       name="filename"
                       class="custom-file-input"
                       onchange="this.form.submit();" />
            </label>
        </form>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button"
                        id="prevButton"
                        class="btn btn-sm btn-outline-secondary"
                        style="background-color: #c9ddc4">Previous</button>
                <button type="button"
                        id="nextButton"
                        class="btn btn-sm btn-outline-secondary"
                        style="background-color: #c9ddc4">Next</button>
            </div>
            <button type="button"
                    class="btn btn-sm btn-outline-secondary"
                    style="background-color: #c9ddc4">Extended</button>
        </div>
    </div>
    <script>
  document.addEventListener("DOMContentLoaded", function() {
      let currentIndex = 0;
      const graphs = {{ graphs_list|safe }};
      const imgElement = document.getElementById("graphImage");

      function updateImage() {
          imgElement.src = graphs[currentIndex];
      }

      document.getElementById("prevButton").addEventListener("click", function() {
          if (currentIndex > 0) {
              currentIndex--;
              updateImage();
          }
      });

      document.getElementById("nextButton").addEventListener("click", function() {
          if (currentIndex < graphs.length - 1) {
              currentIndex++;
              updateImage();
          }
      });

      // Инициализация первого изображения
      updateImage();
  });
    </script>
    {% if graphs_list %}
        <div style="text-align: center; margin-top: 10px">
            <img id="graphImage"
                 src=""
                 alt="Graph"
                 class="img-fluid"
                 style="display: block;
                        margin-left: auto;
                        margin-right: auto" />
        </div>
    {% else %}
        <div style="text-align: center; margin-top: 10px">
            <p>No graphs available.</p>
        </div>
    {% endif %}
{% endblock %}
{% block table %}
    <div class="table-responsive small">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    {% for col in columns %}<th scope="col" style="background-color: #f4f7d8">{{ col|slice:":12" }}</th>{% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in table %}
                    <tr>
                        {% for r in row %}<td style="background-color: #f4f7d8">{{ r|slice:":12" }}</td>{% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock table %}
<script src="{% static 'core/js/graphs.js' %}"></script>
