{% extends 'core/base.html' %}
{% block graphs %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h4 class="h4">Graph</h4>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button"
                        class="btn btn-sm btn-outline-secondary"
                        style="background-color: #c9ddc4">Previous</button>
                <button type="button"
                        class="btn btn-sm btn-outline-secondary"
                        style="background-color: #c9ddc4">Next</button>
            </div>
            <button type="button"
                    class="btn btn-sm btn-outline-secondary"
                    style="background-color: #c9ddc4">Save</button>
        </div>
    </div>
    <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
{% endblock %}
{% block table %}
    <h4>Table</h4>
    <div class="table-responsive small">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    {% for col in columns %}<th scope="col" style="background-color: #f4f7d8">{{ col|slice:":12" }}</th>{% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in table %}
                    <tr>
                        {% for r in row %}<td style="background-color: #f4f7d8">{{ r|slice:":12" }}</td>{% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock table %}
